<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="conversion.js" defer></script>
		<title>{{ title if title else site.title }}</title>
	</head>
	<body>
		<header id="site_header">
			{% include "components/nav.njk" %}
		</header>
		<div id="content">
			{% block main %}{% endblock %}
		</div>
	</body>
</html>
