---
title: contact
subhead: contact
permalink: /contact/index.html
date: git Last Modified
---
{% extends "layouts/default.njk" %}
{% block main %}
	<p>
		you can get in touch with me by screaming really loud!
	</p>
{% endblock %}

