---
permalink: /index.html
date: git Last Modified
---
{% extends "layouts/default.njk" %}
{% block main %}
<div>
	<p>
		hello and welcomb to my webzone<br>there isn't much here yet lol
	</p>
</div>
{% endblock %}
